
<div class="container-fluid bodybg">

    <div class="row">
        <div class=" col-md-12 bg "><h1 class="text">Dashboard</h1></div>
    </div>
    
    <div class="row" style="margin-top: 25px;     margin-bottom: 50px;">
        
        <div class="col-md-offset-3 col-md-6">
            <button type="button"  routerLink="/ChartTwo" class="btn btn-success btn-block">Bar Chart </button>
            <button type="button"  routerLink="/ChartOne" class="btn btn-primary btn-block">Chart</button>
            <button type="button"  routerLink="/ChartThree" class="btn btn-info btn-block">Pipe Chart</button>
            <button type="button"  routerLink="/ChartFour" class="btn btn-warning btn-block">Users List </button>
            <button type="button"  routerLink="/ChartFive" class="btn btn-danger btn-block">Vender List </button>
      </div>
      </div>
</div>





