/* You can add global styles to this file, and also import other style files */
.bg{
  background-image: linear-gradient(to right, rgb(234, 164, 14) , rgb(251, 255, 0));
}

  .text{
    text-align: center;
    color: rebeccapurple;
  }
  .bodybg{
    background-image: radial-gradient(skyblue, rgb(135, 235, 188), rgb(135, 235, 202));
  }
  td{
    font-size: 16px;
    font-weight: 600;
    font-family: Varela Round;
  }